#app {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    overflow-x: hidden;
    background-image: url(../img/login1.jpg);

}
/*class css*/

.el-aside {
    height: 683px;
    padding: 10px;
    /*background-color: #409EFF;*/
    /*filter: alpha(Opacity=80);*/
    /*-moz-opacity: 0.7;*/
    /*opacity: 0.7;*/
}
.show_tree {
    height: 620px;
}
.el-main {
    height: 683px;
    padding: 10px;
    overflow-x: hidden;
    /*filter: alpha(Opacity=80);*/
    /*-moz-opacity: 0.7;*/
    /*opacity: 0.7;*/
}
.el-header,
.el-footer {
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 10px;
    /*background-color: #409EFF;*/
}

.el-footer {
    font-size: 14px;
    text-align: center;
    line-height: 50px;
    font-family: "微软雅黑";
    color: white;
    /*filter: alpha(Opacity=80);*/
    /*-moz-opacity: 0.7;*/
    /*opacity: 0.7;*/
}

.el-pagination {
    float: right;
    line-height: 40px;
    margin: 10px;
}

.el-table-column {
    text-align: center;
}

.el-main .el-row .el-col {
    height: 40px;
}

.el-dialog {
    position: relative;
    margin: 0 auto 50px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    width: 80%;
    height: 630px;
}

.el-dialog__body {
    padding: 5px 15px;
    color: #5a5e66;
    line-height: 24px;
    font-size: 14px;
}

.el-dialog__footer {
    padding: 5px 15px 0px;
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.el-form--inline .el-form-item__content {
    display: inline-block;
    vertical-align: top;
    width: 550px;
}

.my-vue-editor {
    display: block;
    border: 1px solid #d1d1d1;
    padding: 0;
    overflow: auto;
    height: 350px;
}
/*id   Css*/
#header {
    color: white;
    font-family: '宋体';
    font-size: 20px;
    text-align: left;
    line-height: 49.6px;
    height: 49.6px;
    filter: alpha(Opacity=80);
    -moz-opacity: 0.7;
    opacity: 0.7;
}
#remark-div {
    vertical-align: middle;
    height: 50px;
    color: white;
    font-family: "微软雅黑";
    float: left;
}

#addTtile-div {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 150px;
}

#list-div {
    width: 250px;
}

.search-condition {
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    float: right;
}

#login-regist-div {
    line-height: 50px;
    text-align: right;
}
/*设置分页无背景色*/
.el-dialog, .el-pager li {
    -webkit-box-sizing: border-box;
    //color: white!important;
}

.el-pagination button.disabled {
    color: white!important;
    /* background-color: #fff; */
    cursor: not-allowed;
}
.el-pagination .btn-next, .el-pagination .btn-prev {
    background: none!important;
    background-size: 16px;
    cursor: pointer;
    margin: 0;
    color: white!important;
}
.el-pagination__total {
    margin-right: 10px;
    font-weight: 400;
    color: white!important;
}
.el-pagination__jump {
    margin-left: 24px;
    font-weight: 400;
    color: white!important;
}
/***********************************/
.is-leaf,.cell{
    text-align:center!important;
}


.p_add_type_div{
    width: 100%;
    height: 100%;
    margin-top: 11px;
    text-align: center;
}
.p_confirm .el-dialog{
    width: 20%;
    margin-top: 20vh;
    height: 124px;
}