body {
    background-image: url(../img/login1.jpg);
    text-align: center;
    overflow-x: hidden;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    -webkit-text-fill-color: rgba(255,255,255,1)!important;
}
#header {
    color: white;
    font-family: '宋体';
    font-size: 20px;
    text-align: left;
    /*filter: alpha(Opacity=80);*/
    /*-moz-opacity: 0.7;*/
    /*opacity: 0.7;*/
}

.main {
    /*margin-left: 500px;*/
    width: 400px;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    /*filter: alpha(Opacity=80);*/
    /*-moz-opacity: 0.7;*/
    /*opacity: 0.7;*/
    border: solid 0.5px #ffffff;
    background: #99BBE8;
}

.main #header {
    color: #409EFF;
    text-align: center;
    height: 40px;
    font-weight: bolder;
    letter-spacing: inherit
}

#login-regist-div {
    line-height: 50px;
    text-align: right;
}

#checkCode .el-form-item__content .el-input {
    width: 160px;
    height: 41.2px;
}

#checkCodeImg {
    display: inline-block;
    width: 155px;
    height: 41.2px;
    vertical-align: middle;
    border-radius: 5px;
    background: url(../template/verifyCode.jpg);
}

/*#checkCodeImg img{
    border-radius: 5px;

}*/
.el-form-item__label {
    vertical-align: middle;
    float: left;
    font-size: 14px;
    color: #ffffff;
    line-height: 40px;
    padding: 0 12px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.el-dialog, .el-pager li {
    background: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;

}

.el-dialog {
    position: relative;
    margin: 0 auto 50px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .3);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    width: 50%;
}

.el-dialog__wrapper {
    border: none;
}

.el-form-item {
    margin-bottom: 12px;
}

.el-button--primary.is-plain {
    color: #92a3b4;
    background: #ecf5ff;
    border-color: #b3d8ff;
    width: 150px;
    font-size: 17px;
}

/*校验提示*/
.el-alert--error {
    background-color: #fee;
    color: #fa5555;
    padding: 0;
    height: 30px;
}

.el-alert--success {
    background-color: #f0f9eb;
    color: #67c23a;
    padding: 0;
    height: 30px;
}